.container {
	position: relative;
}

.text {
	width: 100%;
	position: relative;
	padding: 8px 16px;
	border-radius: 4px;
	border: none;
	outline: 1px solid rgb(209 213 220);

	&:focus {
		outline: 2px solid rgb(79 57 246);
	}

	&::placeholder {
		color: rgb(153 161 175);
	}

	&.text--with-icon {
		padding-left: calc(12px + 1rem + 12px);
	}
}

.text__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0 auto 12px;
	left: 0;
	z-index: 1;
	color: rgb(153 161 175);
}
