.page {
	width: 100%;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.page__body {
	width: 100%;
	flex-grow: 1;
	background-color: var(--color-surface-container-lowest);
	padding: 24px;
}
