.page {
	width: 100%;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.main {
	width: 100%;
	flex-grow: 1;
	background-color: var(--color-surface-container-lowest);
	padding: 24px 48px;
}

.page__cards {
	--column-width: 300px;
	margin-top: 24px;
	display: grid;
	gap: 8px;
	grid-template-columns: repeat(auto-fill, minmax(var(--column-width), 1fr));
	grid-template-rows: repeat(
		auto-fill,
		minmax(calc(var(--column-width) / 1.618), 1fr)
	);
}
