.new-project-card {
	display: flex;
	justify-content: center;
	align-items: center;
	border: dashed 2px rgb(209 213 220);
	transition-duration: 200ms;
	cursor: pointer;
	background-color: var(--color-surface-container-lowest);
	color: var(--color-on-surface);

	&:hover {
		border: dashed 2px rgb(153 161 175);
	}
}

.new-project-card__body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	column-gap: 16px;
}

.new-project-card__label {
	font-weight: 500;
	font-size: var(--font-sm);
}

.icon {
	font-weight: normal;
	color: rgb(153 161 175);
}
