.new-project-card {
	display: flex;
	justify-content: center;
	align-items: center;
	border: dashed 2px var(--color-outline-variant);
	transition-duration: 200ms;
	cursor: pointer;
	background-color: var(--color-surface);
	color: var(--color-on-surface-variant);

	&:hover {
		border: dashed 2px var(--color-outline);
		color: var(--color-on-surface);

		&::after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			background-color: var(--color-surface-dim);
			opacity: 0.08;
		}
	}
}

.new-project-card__body {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 16px;
}

.new-project-card__label {
	font-weight: bold;
	font-size: 1.5rem;
}
