.navigation {
	display: flex;
	column-gap: 32px;
	background-color: var(--color-surface-container-lowest);
}

.navigation__item {
	--active-indicator-height: 2px;

	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
	font-size: var(--font-sm);
	font-weight: 500;
	text-decoration: none;
	color: rgb(106 114 130);
	position: relative;

	&:hover {
		&:not(.navigation__item--active) {
			color: rgb(54 65 83);
		}

		&::after {
			content: "";
			height: var(--active-indicator-height);
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: rgb(209 213 220);
			z-index: 1;
			user-select: none;
		}
	}

	&.navigation__item--active {
		color: var(--color-on-surface);

		&::after {
			content: "";
			height: var(--active-indicator-height);
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: var(--color-primary);
			z-index: 1;
			user-select: none;
		}
	}
}
